.btn-primary {
    width: 8.3544rem;
    height: 3rem;
    border-radius: 0.25rem;
    border: 1px solid;
    padding: 0 1.375rem;
    gap: 0.6344rem;
    color: var(--grey-0);
    background: var(--color-primary);
    font-family: var(--font-primary);
}

.btn-primary:hover{
    background: var(--color-primary-focus);
}

.btn-primary-negative{
    width: 100%;
    height: 3rem;
    border-radius: 0.25rem;
    padding: 0 1.375rem 0 1.375rem ;
    gap: 0.6344rem;
    color: var(--grey-0);
    background: var(--color-primary-negative);
    font-family: var(--font-primary);

    &:disabled{
        cursor: not-allowed;
        opacity: .5;
    }
}

.btn-desability{

    width: 79.54px;
    height: 31.95px;
    border-radius: 0.25rem;
    padding: 0 1.375rem;
    gap: 0.6344rem;
    color: var(--grey-0);
    background: var(--grey-3);
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 9.59px;
    line-height: 22.73px;
    align-items: center;
    justify-content: center;
}


.btn-desability:hover{
    background: var(--grey-2);
}

a{
    display: flex;
    font-family: var(--font-primary);
}