
  .label{
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 0.6088rem;
    color: var(--grey-0);
  }

.title1{
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--grey-0);
}

.headline {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.375rem;
  color: var(--grey-1);
}